/* root CSS variables */
:root {
  --white: #ffffff;
  --black: #000;
  --default-font: #a3abb2;
  --primary: #306aea;
  --primary-light: #6287d7;
  --success: #05b392;
  --default-background: #eaeaea;
  --section-background: #e4e5ea;
  --border-shadow: #e1e0e4;


  --size-5: 0.3rem;
  --size-10: 0.625rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --size-45: 2.813rem;
  --size-50: 3.125rem;
  --size-55: 3.438rem;
  --size-75: 5rem;
  --size-100: 6.25rem;
  --size-150: 9.375rem;
  --size-200: 12.5rem;
  --size-250: 15.625rem;
  --size-300: 18.75rem;
  --size-350: 21.875rem;
  --size-400: 25rem;
  --size-450: 28.125rem;
  --size-550: 34.375rem;
  --size-675: 42.188rem;
}

/* default styles */
* {box-sizing: border-box;}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: var(--default-font);
}

.container {
  padding: var(--size-30);
}

ul > li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}