/* Top Background */
.top-background {
  position: absolute;
  top: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
}

/* Sticky Nav Bar */
.navbar-toggler {
  position: absolute;
  right: var(--size-20);
  top: var(--size-10);
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

.navbar-toggler span {
  color: var(--default-font);
  font-size: var(--size-20);
  cursor: pointer;
  pointer-events: none; /*span doesn't block the click event*/
}

[aria-controls="navbarDropdown"] {
  display: none;
}

.top-nav { 
  display: flex; 
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  height: var(--size-75);
  width: 100%;
  z-index: 20;
  transition: ease-in-out 0.3s;
}

.top-nav.sticky {
  background-color: var(--sticky-background);
  box-shadow: 0px 0px 20px var(--sticky-background);
}

.company-logo > img { width: var(--size-150); }

.nav-wrapper nav ul > li { 
  display: inline-block; 
  margin-left: var(--size-20);
}

.nav-wrapper nav ul > li:hover { 
  color: var(--primary);
  cursor: pointer;
}

nav { display: flex; }
nav > ul { margin-right: var(--size-30); }

/* Hero Section */
.hero { 
  margin: var(--size-200) 0; 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /*in px because based on viewport*/
  gap: var(--size-40);
  align-items: center;
}

.hero-ad {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-ad > div { margin: var(--size-20) 0; }

.hero-header {
  font-size: var(--size-40);
  font-weight: 600;
  color: var(--black);
  max-width: var(--size-250);
}

.hero-description { font-size: var(--size-18); }

.hero-btns { 
  display : flex; 
  align-items: center;
}

.hero-btns > div { margin-right: var(--size-20); }

.btn-play { 
  display: flex; 
  align-items: center;
  justify-content: space-around;
}

.btn-play > i { margin-right: var(--size-10); }
.btn-play > div { min-width: var(--size-75); }

.btn-learn { 
  font-weight: 600;
  color: var(--primary); 
  display: flex;
  align-items: center;
  cursor: pointer;
}

.btn-learn > i { margin-left: var(--size-5); }

.hero-graphics {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  row-gap: var(--size-10);
  max-height: 364px;
  max-width: var(--size-675);
  margin-right: var(--size-100);
}

.google {
  width: var(--size-65);
  height: var(--size-65);
  padding: var(--size-9);
  grid-column: 4;
  margin-left: 20px;
  animation: moveGoogle 2s ease-in-out;
}

@keyframes moveGoogle {
  from { transform: translateY(13em); }
  to { transform: translateY(0);}
}

.google div img {
  width: var(--size-45);
  height: var(--size-45);
}

.atlassian {
  width: var(--size-90);
  height: var(--size-90);
  padding: var(--size-14);
  grid-column: 6;
  animation: moveAtlassian 3s ease-in-out;
}

@keyframes moveAtlassian {
  from { transform: translateY(10em); }
  to { transform: translateY(0);}
}

.atlassian div img {
  width: var(--size-60);
  height: var(--size-60);
}

.asana {
  width: var(--size-90);
  height: var(--size-90);
  padding: var(--size-12);
  grid-column: 10;
  animation: moveAsana 2.5s ease-in-out;
}

@keyframes moveAsana {
  from { transform: translateY(16em); }
  to { transform: translateY(0);}
}

.asana div img {
  width: var(--size-65);
  height: var(--size-65);
}

.paypal {
  width: var(--size-90);
  height: var(--size-90);
  padding: var(--size-14);
  grid-row: 4;
  grid-column: 4;
  margin-top: 40px;
  animation: movePaypal 2.5s ease-in-out;
}

@keyframes movePaypal {
  from { transform: translateY(16em); }
  to { transform: translateY(0);}
}

.paypal div img {
  width: var(--size-60);
  height: var(--size-60);
}

.weave {
  width: var(--size-90);
  height: var(--size-90);
  padding: var(--size-16);
  grid-row: 4;
  grid-column: 8;
  margin-top: 40px;
  animation: moveWeave 3.5s ease-in-out;
}

@keyframes moveWeave {
  from { transform: translateY(6em); }
  to { transform: translateY(0);}
}

.weave div img {
  width: var(--size-55);
  height: var(--size-55);
}

.google-ads {
  width: var(--size-70);
  height: var(--size-70);
  padding: var(--size-9);
  grid-row: 8;
  grid-column: 5;
  animation: moveGoogleAds 4s ease-in-out;
}

@keyframes moveGoogleAds {
  from { transform: translateY(9em); }
  to { transform: translateY(0);}
}

.google-ads div img {
  width: var(--size-50);
  height: var(--size-50);
}

.calendar {
  width: var(--size-90);
  height: var(--size-90);
  padding: var(--size-16);
  grid-row: 8;
  grid-column: 10;
  margin-top: 20px;
  animation: moveCalendar 2.5s ease-in-out;
}

@keyframes moveCalendar {
  from { transform: translateY(5em); }
  to { transform: translateY(0);}
}

.calendar div img {
  width: var(--size-55);
  height: var(--size-55);
}

/* Key Benefits Sections */
.benefits-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefits-title {
  font-size: var(--size-30);
  font-weight: 700;
  color: var(--black);
  margin-bottom: var(--size-10);
}

.benefits-cards {
  margin-top: var(--size-75);
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 20px;
}

.benefits-card {
  max-width: 23var(--size-5);
  min-height: 300px;
  border: 1px solid transparent;
  box-shadow: 0px 10px var(--size-5) #b0b0b3;
  padding: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 300ms; /*Makes hover effect take 300ms so smooths it out*/
}

.benefits-card:hover {
  transform: translateY(var(--size-5))
}

.benefits img { width: var(--size-50); }

.card-title { 
  font-weight: 700; 
  color: var(--black);
  margin-right: var(--size-16);
}

.premium-wrapper { display: flex; }

.badge-success {
  background-color: var(--success);
  border-radius: var(--size-25);
  padding: var(--size-5) var(--size-14);
  color: var(--white);
  font-size: var(--size-12);
}

.card-description { padding: var(--size-14) 0; }

/* Get Started Section */
.get-started { margin: var(--size-90) 0; }

.start-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
  gap: var(--size-20);
  background-color: var(--section-background);
  min-height: 500px;
}

.start-prompt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: var(--size-40);
  width: var(--size-450);
}

.start-prompt-description {
  font-size: var(--size-25);
  font-weight: 700;
  color: var(--black);
  margin-bottom: var(--size-30);
}

.start-banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.start-banner img {
  max-height: 3var(--size-50);
  width: var(--size-700);
  box-shadow: -var(--size-5) -var(--size-5) var(--size-5) var(--default-font);
}

/* Why Front Section */
.why-front-wrapper,
.why-header > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.why-header-title {
  font-size: var(--size-30);
  font-weight: 700;
  color: var(--black);
}

.why-header-description {
  font-size: var(--size-18);
  width: var(--size-650);
  text-align: center;
}

.why-components {
  margin-top: var(--size-50);
  margin-bottom: var(--size-100);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: var(--size-20);
}

.why-component {
  position: relative;
  display: flex;
  flex-direction: column;
  height: var(--size-100);
  justify-content: space-between;
  align-items: center;
}

.why-component:nth-child(1)::after,
.why-component:nth-child(2)::after, 
.why-component:nth-child(3)::after {
  content: '';
  position: absolute;
  bottom: 72%;
  left: var(--size-200);
  width: 83%;
  border-top: 2px solid var(--section-background);
  z-index: -1;
}

.why-graphic {
  width: var(--size-50);
  height: var(--size-50);
  background-color: var(--section-background);
  border-radius: var(--size-40);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary);
}
  
.why-name {
  font-size: var(--size-18);
  font-weight: 700;
  color: var(--black);
}

.why-banner-wrapper { 
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-graphic {
  position: absolute;
  width: var(--size-75);
  height: var(--size-75);
  background-color: var(--white);
  border-radius: var(--size-40);
  box-shadow: 0 0 var(--size-5) var(--size-5) var(--default-font);
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-graphic:hover {
  cursor: pointer;
  color: var(--black);
  box-shadow: 0 0 var(--size-5) var(--size-5) var(--black);
}

.why-banner > img { width: 100%; }

/* Profile Section */
.profile-section { 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}

.profile-wrapper { height: var(--size-500); }
.profile-person-wrapper { position: relative; }
.person > img { width: var(--size-430); }
.dots-graphics > img { width: var(--size-225); }

.person {
  position: absolute;
  left: var(--size-50);
  z-index: 1;
}

.dots-graphics {
  position: absolute;
  top: var(--size-125);
}

.profile-review-wrapper {
  display: flex;
  flex-direction: column;
  min-height: var(--size-480);
  padding-top: var(--size-100);
}

.profile-company { margin-bottom: 30px; }
.profile-company > img { width: var(--size-100); }

.profile-review { 
  max-width: var(--size-450); 
  font-size: var(--size-20);
  font-weight: 700;
  color: var(--black);
  padding-bottom: var(--size-75);
  line-height: 1.7;
}

.profile-name { 
  color: var(--black);
  font-weight: 700;
  font-size: var(--size-20);
}

/* Companies Section */
.companies-section > div { margin: var(--size-50) 0; }

.companies-header {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: var(--size-25);
}

.companies-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 100%;
}

.company { 
  width: var(--size-125); 
  margin: var(--size-20);
}

/* Pricing Section */
.pricing-section { margin-bottom: var(--size-50); }

.pricing-header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing-header-title {
  color: var(--black);
  font-weight: 700;
  font-size: var(--size-30);
  line-height: 1.8;
}

.pricing-header-description { font-size: var(--size-18); }

.pricing-info-wrapper { 
  padding: var(--size-50) 0; 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: var(--size-40);
}

.pricing-action-card {
  box-shadow: 
    0 20px 20px var(--border-shadow), 
    -10px 10px 10px var(--border-shadow), 
    10px 10px 15px var(--border-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: var(--size-480);
  max-width: var(--size-450);
  padding: var(--size-50);
}

.price { 
  font-size: var(--size-30); 
  border-bottom: 2px solid var(--default-font);
  width: 100%;
  padding-bottom: var(--size-30);
}

.price > span {
  color: var(--black);
  font-size: var(--size-60);
  font-weight: 700;
}

.pricing-description {
  font-size: var(--size-20);
  max-width: var(--size-350);
}

.pricing-disclaimer { margin-top: var(--size-10); }

.pricing-graphics-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: var(--size-50);
}

.pricing-graphics-card > div {
  padding: 10px 0;
}

.pricing-graphic > img { width: var(--size-65); }

.pricing-graphic-title {
  font-size: var(--size-20);
  font-weight: 700;
  color: var(--black);
}

.pricing-graphic-info { max-width: var(--size-250); }
.success-title { display: flex; }
.success-title > div:last-child { margin-left: var(--size-10); }

/* Hire Us Section */
.hire-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: var(--size-100);
  background-color: var(--primary-dark);
  padding: var(--size-30);
}

.hire-testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hire-title {
  color: var(--white);
  font-size: var(--size-30);
  font-weight: 700;
  line-height: 2;
}

.hire-motto { 
  width: var(--size-175);
  line-height: 1.6;
  padding-bottom: var(--size-30);
  margin-bottom: var(--size-30);
  border-bottom: 2px solid var(--default-font);
}

.hire-quote {
  color: var(--white);
  width: var(--size-350);
  line-height: 1.6;
  margin-bottom: var(--size-60);
}

.hire-signature {
  color: var(--white);
  font-size: var(--size-20);
  font-weight: 600;
  line-height: 1.8;
}

.hire-position { margin-bottom: var(--size-60); }

.hire-people {
  display: flex;
  align-items: center;
}


.hire-people > img {
  width: var(--size-50);
  border-radius: var(--size-25);
  margin-right: var(--size-30);
}

.hire-people > img { animation: enlarge 6s infinite alternate; }

.hire-people > img:nth-child(1) { animation-delay: 0; }
.hire-people > img:nth-child(2) { animation-delay: 3s; }
.hire-people > img:nth-child(3) { animation-delay: 6s; }

@keyframes enlarge {
  to { transform: scale(1.5); }
}

.contact-us {
  padding: var(--size-30);
  background-color: var(--white);
  border-radius: var(--size-20);
  min-height: var(--size-650);
  max-width: var(--size-550);
}

.contact-title {
  color: var(--black);
  font-size: var(--size-18);
  font-weight: 700;
  margin-bottom: var(--size-5);
}

input,
.form-select,
.actions-select,
textarea {
  margin: var(--size-14) 0;
  padding: var(--size-12) var(--size-5);
  padding-right: var(--size-30);
  color: var(--default-font);
  border: 1px solid var(--default-font);
  border-radius: var(--size-5);
  font-size: var(--size-16);
}

.select-wrapper,
.actions-select-wrapper { position: relative; }

.select-wrapper > i,
.actions-select-wrapper > i:last-child {
  position: absolute;
  top: 40%;
  right: 10%;
  color: var(--black);
  z-index: 0;
}

.form-select,
.actions-select { 
  min-width: var(--size-230); 
  font-weight: 700;
  color: var(--black);
  appearance: none;
  background: transparent;
  z-index: 10;
}

textarea { 
  width: 100%; 
  resize: none;
}

.name,
.contact-info,
.other-info {
  display: flex;
  justify-content: space-between;
}

.form-footer { display: flex; }

.checkbox { margin-right: var(--size-20); }

input[type="checkbox"] {
  width: var(--size-25);
  height: var(--size-25);
}

.agreement > div { margin-bottom: var(--size-10); }
.agreement-statement { line-height: 1.6; }

.policies { 
  display: flex; 
  cursor: pointer;
}

.policies > div {
  font-weight: 700;
  margin-right: var(--size-40);
  padding-bottom: 2px;
  /* take control of spacing between dashes in bottom border: */
  background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 7px 1px;
  background-repeat: repeat-x;
}

.policies > div:last-child { color: var(--primary); }

.submit-wrapper {
  margin-top: var(--size-40);
  display: flex;
  justify-content: center;
}

.submit { text-align: center; }

/* Footer Section */
.footer-top {
  display: flex;
  padding-bottom: var(--size-40);
  margin-bottom: var(--size-40);
  border-bottom: 1px solid var(--default-font);
}

.options-column-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  gap: 45px;
  width: 50%;
}

.contact { 
  width: var(--size-300); 
  height: var(--size-125);
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact > div { display: flex; }
.contact > div > i { margin: var(--size-10); }

.options-header {
  font-size: var(--size-20);
  font-weight: 800;
  color: var(--black);
  margin-bottom: var(--size-14);
}

.options-rows > div { 
  margin-bottom: var(--size-9); 
  cursor: pointer;
}

.options-rows > div:nth-child(2) { 
  display: flex; 
  align-items: center;
}

.options-rows > div:nth-child(2) > div { margin-right: var(--size-5); }

.icon-row { 
  display: flex; 
  align-items: center;
}

.icon-row > i { margin-right: var(--size-15); }

.hiring {
  color: var(--white);
  background-color: var(--primary);
  border-radius: 2px;
  font-size: 8px;
  padding: 2px 4px;
  height: var(--size-15);
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: var(--size-250);
}

.actions-row {
  display: flex;
  justify-content: space-between;
}

.actions-right {
  display: flex;
  justify-content: space-between;
  min-width: var(--size-450);
}

.btn-media-wrapper { 
  display: flex;
  justify-content: space-around;
}

.btn-media-wrapper > div { margin-right: 20px; }

.actions-select-wrapper > i:first-child {
  position: absolute;
  top: 30%;
  left: 5%;
}

.actions-select-wrapper > i:last-child {
  top: 30%;
  right: 5%;
}

.actions-select { 
  margin: 0;
  background-color: var(--section-background);
  font-weight: 400;
  padding: var(--size-9) var(--size-40);
  border: transparent;
  cursor: pointer;
}

.copyright-row { 
  display: flex; 
  justify-content: center;
  align-items: center;
}

.copyright-row > i { margin-right: var(--size-5); }

.disclaimer-row {
  max-width: var(--size-775);
  line-height: 1.7;
  margin: 0 auto;
  text-align: center;
}

/* to top btn */
#scrollUp {
  background: var(--border-shadow);
  border-radius: 25px;
  color: var(--default-font);
  font-size: var(--size-14);
  height: var(--size-50);
  width: var(--size-50);
  line-height: var(--size-50);
  position: fixed;
  bottom: var(--size-30);
  right: var(--size-30);
  text-align: center;
  cursor: pointer;
  z-index: 20;
}

#scrollUp:hover { box-shadow: 0px 0px 20px var(--default-font); }