/* Sticky Nav Bar */
.top-nav { 
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

.company-logo > img { width: var(--size-150); }

.nav-wrapper nav ul > li { 
  display: inline-block; 
  margin-left: var(--size-20);
}

.nav-wrapper nav ul > li:hover { 
  color: var(--primary);
  cursor: pointer;
}

nav { display: flex; }
nav > ul { margin-right: var(--size-30); }

/* Hero Section */

.hero { 
  margin: var(--size-75) 0; 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /*in px because based on viewport*/
  gap: var(--size-40);
  align-items: center;
}

.hero-ad > div { margin: var(--size-20) 0; }

.hero-header {
  font-size: var(--size-40);
  font-weight: 600;
  color: var(--black);
  max-width: var(--size-250);
}

.hero-description { font-size: var(--size-18); }

.hero-btns { 
  display : flex; 
  align-items: center;
}

.hero-btns > div { margin-right: var(--size-20); }

.btn-play { 
  display: flex; 
  align-items: center;
  justify-content: space-around;
}
.btn-play > i { margin-right: var(--size-10); }
.btn-play > div { min-width: var(--size-75); }

.btn-learn { 
  font-weight: 600;
  color: var(--primary); 
  display: flex;
  align-items: center;
}

.btn-learn > i { margin-left: var(--size-5); }

.hero-graphics {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  row-gap: 10px;
  max-height: 364px;
  max-width: 670px;
}

.google {
  width: var(--size-65);
  height: var(--size-65);
  padding: var(--size-9);
  grid-column: 4;
  margin-left: 20px;
}

.google div img {
  width: var(--size-45);
  height: var(--size-45);
}

.atlassian {
  width: var(--size-90);
  height: var(--size-90);
  padding: var(--size-14);
  grid-column: 6;
}

.atlassian div img {
  width: var(--size-60);
  height: var(--size-60);
}

.asana {
  width: var(--size-90);
  height: var(--size-90);
  padding: var(--size-12);
  grid-column: 10;
}

.asana div img {
  width: var(--size-65);
  height: var(--size-65);
}

.paypal {
  width: var(--size-90);
  height: var(--size-90);
  padding: var(--size-14);
  grid-row: 4;
  grid-column: 4;
  margin-top: 40px;
}

.paypal div img {
  width: var(--size-60);
  height: var(--size-60);
}

.weave {
  width: var(--size-90);
  height: var(--size-90);
  padding: var(--size-16);
  grid-row: 4;
  grid-column: 8;
  margin-top: 40px;
}

.weave div img {
  width: var(--size-55);
  height: var(--size-55);
}

.google-ads {
  width: var(--size-70);
  height: var(--size-70);
  padding: var(--size-9);
  grid-row: 8;
  grid-column: 5;
}

.google-ads div img {
  width: var(--size-50);
  height: var(--size-50);
}

.calendar {
  width: var(--size-90);
  height: var(--size-90);
  padding: var(--size-16);
  grid-row: 8;
  grid-column: 10;
  margin-top: 20px;
}

.calendar div img {
  width: var(--size-55);
  height: var(--size-55);
}

/* Key Benefits Sections */
.benefits-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefits-title {
  font-size: var(--size-30);
  font-weight: 700;
  color: var(--black);
  margin-bottom: var(--size-10);
}

.benefits-cards {
  margin-top: var(--size-75);
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  gap: 20px;
}

.benefits-card {
  max-width: 23var(--size-5);
  min-height: 300px;
  border: 1px solid transparent;
  box-shadow: 0px 10px 1var(--size-5) #b0b0b3;
  padding: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 300ms; /*Makes hover effect take 300ms so smooths it out*/
}

.benefits-card:hover {
  transform: translateY(-var(--size-5))
}

.benefits img { width: var(--size-50); }

.card-title { 
  font-weight: 700; 
  color: var(--black);
  margin-right: var(--size-16);
}

.premium-wrapper { display: flex; }

.badge-success {
  background-color: var(--success);
  border-radius: var(--size-25);
  padding: var(--size-5) var(--size-14);
  color: var(--white);
  font-size: var(--size-12);
}

.card-description { padding: var(--size-14) 0; }

/* Get Started Section */
.get-started { margin: var(--size-90) 0; }

.start-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
  gap: var(--size-20);
  background-color: var(--section-background);
  min-height: 500px;
}

.start-prompt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: var(--size-40);
  width: var(--size-450);
}


.start-prompt-description {
  font-size: var(--size-25);
  font-weight: 700;
  color: var(--black);
  margin-bottom: var(--size-30);
}

.start-banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.start-banner img {
  max-height: 3var(--size-50);
  width: var(--size-700);
  box-shadow: -var(--size-5) -var(--size-5) var(--size-5) var(--default-font);
}

/* Why Front Section */
.why-front-wrapper,
.why-header > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.why-header-title {
  font-size: var(--size-30);
  font-weight: 700;
  color: var(--black);
}

.why-header-description {
  font-size: var(--size-18);
  width: var(--size-650);
  text-align: center;
}

.why-components {
  margin-top: var(--size-50);
  margin-bottom: var(--size-100);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: var(--size-20);
}

.why-component {
  position: relative;
  display: flex;
  flex-direction: column;
  height: var(--size-100);
  justify-content: space-between;
  align-items: center;
}

.why-component:nth-child(1)::after,
.why-component:nth-child(2)::after, 
.why-component:nth-child(3)::after {
  content: '';
  position: absolute;
  bottom: 72%;
  left: var(--size-200);
  width: 83%;
  border-top: 2px solid var(--section-background);
  z-index: -1;
}

.why-graphic {
  width: var(--size-50);
  height: var(--size-50);
  background-color: var(--section-background);
  border-radius: var(--size-40);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary);
}
  
.why-name {
  font-size: var(--size-18);
  font-weight: 700;
  color: var(--black);
}

.why-banner-wrapper { 
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-graphic {
  position: absolute;
  width: var(--size-75);
  height: var(--size-75);
  background-color: var(--white);
  border-radius: var(--size-40);
  box-shadow: 0 0 var(--size-5) var(--size-5) var(--default-font);
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-graphic:hover {
  cursor: pointer;
  color: var(--black);
  box-shadow: 0 0 var(--size-5) var(--size-5) var(--black);
}

.why-banner > img { width: 100%; }

/* Profile Section */
.profile-section { 
  margin: var(--size-150) 0; 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}

.profile-person-wrapper { position: relative; }
.person > img { width: var(--size-430); }
.dots-graphics > img { width: var(--size-225); }

.person {
  position: absolute;
  left: var(--size-50);
  z-index: 1;
}

.dots-graphics {
  position: absolute;
  top: var(--size-125);
}

.profile-review-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 480px;
  padding-top: var(--size-100);
}

.profile-company { margin-bottom: 30px; }
.profile-company > img { width: var(--size-100); }

.profile-review { 
  max-width: var(--size-450); 
  font-size: var(--size-20);
  font-weight: 700;
  color: var(--black);
  padding-bottom: var(--size-75);
  line-height: 1.5;
}

.profile-name { 
  color: var(--black);
  font-weight: 700;
  font-size: var(--size-20);
}

/* Companies Section */
.companies-section > div { margin: var(--size-50) 0; }

.companies-header {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: var(--size-25);
}

.companies-wrapper {
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
}

.company { width: var(--size-125); }

/* Pricing Section */
.pricing-section { margin: var(--size-100) 0; }

.pricing-header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing-header-title {
  color: var(--black);
  font-weight: 700;
  font-size: var(--size-30);
  line-height: 1.8;
}

.pricing-header-description { font-size: var(--size-18); }

.pricing-info-wrapper { 
  padding: var(--size-50) 0; 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: var(--size-40);
}

.pricing-action-card {
  box-shadow: 
    0 20px 20px var(--border-shadow), 
    -10px 10px 10px var(--border-shadow), 
    10px 10px 15px var(--border-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: var(--size-480);
  max-width: var(--size-450);
  padding: var(--size-50);
}

.price { 
  font-size: var(--size-30); 
  border-bottom: 2px solid var(--default-font);
  width: 100%;
  padding-bottom: var(--size-30);
}

.price > span {
  color: var(--black);
  font-size: var(--size-60);
  font-weight: 700;
}

.pricing-description {
  font-size: var(--size-20);
  max-width: var(--size-350);
}

.pricing-disclaimer { margin-top: var(--size-10); }

.pricing-graphics-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: var(--size-50);
}

.pricing-graphics-card > div {
  padding: 10px 0;
}

.pricing-graphic > img { width: var(--size-65); }

.pricing-graphic-title {
  font-size: var(--size-20);
  font-weight: 700;
  color: var(--black);
}

.pricing-graphic-info { max-width: var(--size-250); }

.success-title { display: flex; }
.success-title > div:last-child { margin-left: var(--size-10); }